html
    head(profile='http://www.w3.org/2005/10/profile')
        if typeof title !== 'undefined'
            title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        style.
            .dropdown {
                width: 64px;
                height: 64px;
                border-radius: 12px;
                display: block;
                position: absolute;
                right: 30px;
                top: calc(100px / 2 - 64px / 2);
                border: 2px solid #fff;
            }

            .dropdownBar {
                width: calc(100% - 10px);
                height: 10px;
                margin-left: 5px;
                margin-right: 5px;
                background-color: #fff;
                margin-top: 5px;
                display: block;
                border-radius: 2px;
            }
        link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
        link(rel='apple-touch-icon', type='image/png', href='/favicon.png')
        script(src='/javascript/jQuery.min.js')
        script.
            $(function () {

                Mousetrap.bind('esc', function (e) {
                    if ($('#sidebar-left').attr('data-showing') === 'true') {
                        $('.dropdown').click();
                    }
                });

                $('.dropdown').click(function (e) {
                    if ($('#sidebar-left').attr('data-showing') === 'false') {
                        $('#sidebar-left').stop().animate({
                            left: 0
                        }, 700).attr('data-showing', 'true');
                        $('body').append($('<div>').css({
                            'z-index': 100,
                            width: '100vw',
                            height: '100vh',
                            opacity: 0.7,
                            display: 'block',
                            'background-color': '#C8C8C8',
                            position: 'fixed',
                            top: 0,
                            left: 0
                        }).attr('id', 'display-block').click(function () {
                            $('.dropdown').click();
                        }));
                    }
                    else {
                        $('#sidebar-left').stop().animate({
                            left: -300
                        }, 700).attr('data-showing', 'false');
                        $('#display-block').remove();
                    }

                });


                var toggleSidebar = function (e) {
                    e.preventDefault();
                    $('.dropdown').click();
                };
                $('input, textarea').addClass("mousetrap");

                Mousetrap.bind(['ctrl+shift+d', 'command+shift+d'], toggleSidebar);
            });
        script(src='/javascript/MouseTrap.js')
        script(src="/javascript/helper.js")
        script(src="/javascript/chat-helper.js")
        script(src='/javascript/CryptoJS.js')

        link(rel='stylesheet' href='/stylesheets/chatRoom.css')
        script(src='/javascript/chat-master.js')
        if typeof user !== 'undefined'
            script(src='/javascript/chat-loggedin.js')
            script(src='/javascript/jQuery-highligher.js')
        else
            style.
                #loginMsg {
                    margin-top: 0 !important;
                    position: absolute;
                    left: 100px;
                }

                #loginMsg > * {
                    display: inline-block;
                }


    body
        div#sidebar-left(data-showing='false')
            if typeof user !== 'undefined'
                img(width=32 height=32 src=user.imgURL)#userImg
                h4#usernameTitle
                    a(href="/users/user/" + user.name)="Logged in as " + user.name
            p.link
                a(href="/") Home
            if typeof user === 'undefined'
                //User pages
                p.link
                    a(href="/users/signup") Sign up
                p.link
                    a(href="/users/login") Log in
            else
                script.remove.
                    $(function () {
                        $('#logout').click(function (e) {
                            e.preventDefault();
                            $.post('/users/logout');
                            location.reload();
                        });
                        $('.remove').remove();
                    });
                p.link
                    a(href='#')#logout Logout
            p.link
                a(href="/chat") Chat
            p.link
                a(href="#" onclick="location.reload()") Reload Page
        div.wrapper
            div.mainChat
            div.rightBar
                button(style='margin-top: 5px;' onclick='location = "/chat/"') All Rooms
                h4(style='margin-left: 10px;')= name
                p
                    small=description
                div#roomLinks
                    if typeof user !== 'undefined'
                        a#leaveRoom(href='#') Leave Room
                        script.remove.
                            $(function () {
                                $('#leaveRoom').click(function (e) {
                                    e.preventDefault();
                                    $.ajax({
                                        type: 'POST',
                                        url: '/chat/rooms/' + CHAT.room.id + '/leave',
                                        data: {key: key()}
                                    });
                                });
                            });
                div#usersContainer
                div#starBox


            div.inputBox
                div.inputWrap(style="margin-left: 5px;")
                    if typeof user !== 'undefined'
                        img(width=80 height=80 src='http://www.gravatar.com/avatar/' + emailHash)#userChatImg
                        div#pingPopup
                        textarea#messageInput
                        div#buttonContainer(style='display: inline-block;')
                            button#send Send
                            button#upload Upload Image
                    else
                        img(width=80 height=80 src='/images/anon.png')#userChatImg
                        div(style='display: inline-block;')#loginMsg
                            p
                                | You must be&nbsp;
                                a(style='color: #000000' href='/users/login?continue=' + roomLink) Logged in
                                |  In order to send messages.
                div.dropdown
                    div.dropdownBar
                    div.dropdownBar
                    div.dropdownBar
                    div.dropdownBar

        if typeof user !== 'undefined'
            input(type='hidden' value=key)#key
            span#calcTxtWidth
        div#blockChat
        div#chatLoading
            h1="Loading " + name